.app {
  min-height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.tweet {
  height: 300px;
  width:  300px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px none #000;
}

.btn {
  padding: 0.3em 1.2em;
  border-radius: 2em;
  color: #fff;
  background: #565656;
  /* transition: all 0.2s; */
}

.btn:hover {
  opacity: 0.5;

}